@page "/UserAccount"

<MudGrid Class="animate__animated animate__fadeIn">
    <MudItem xs="8">
        <MudCard Class="visibility border d-flex flex-column align-center pa-6 ">
            <MudAvatar Image="/gif/profile/user.gif" Style="width: 40%; height: 45%;background: none" />
            <MudCardContent>
                <MudText Typo="Typo.h5">About User</MudText>
                <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
                <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
            </MudCardContent>
            <MudCardActions  >
                <MudLink Href="/UserAccount/Detail/Edit" Class="ma-4" Variant="Variant.Filled" StartIcon="@Icons.Material.Outlined.Edit" Color="Color.Info">Edit details </MudLink>
                <MudLink Href="/UserAccount/Detail/Edit" Class="ma-4" Variant="Variant.Filled" StartIcon="@Icons.Material.Outlined.Edit" Color="Color.Info">My News </MudLink>
            </MudCardActions>
        </MudCard>
    </MudItem>

    <MudItem xs="4" Class="visibility border">
        
        
        <MudTabs Elevation="4" Rounded="true" Centered="true" Color="@Color.Primary">
            <MudTabPanel Text="flowing">

                <div Style="overflow: scroll; height: 35em">
                    
                    
                    <MudCardHeader >
                        <CardHeaderAvatar>
                            <MudAvatar Color="Color.Secondary">A</MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">Admin</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudButton Variant="Variant.Filled" Color="Color.Secondary">UnFollow</MudButton>
                        </CardHeaderActions>
                    </MudCardHeader>
            
                    <MudCardHeader >
                        <CardHeaderAvatar>
                            <MudAvatar Color="Color.Secondary">A</MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">Admin</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudButton Variant="Variant.Filled" Color="Color.Secondary">UnFollow</MudButton>
                        </CardHeaderActions>
                    </MudCardHeader>
            
                    <MudCardHeader >
                        <CardHeaderAvatar>
                            <MudAvatar Color="Color.Secondary">A</MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">Admin</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudButton Variant="Variant.Filled" Color="Color.Secondary">UnFollow</MudButton>
                        </CardHeaderActions>
                    </MudCardHeader>
              
                    <MudCardHeader >
                        <CardHeaderAvatar>
                            <MudAvatar Color="Color.Secondary">A</MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">Admin</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudButton Variant="Variant.Filled" Color="Color.Secondary">UnFollow</MudButton>
                        </CardHeaderActions>
                    </MudCardHeader>
                    
                    <MudCardHeader >
                        <CardHeaderAvatar>
                            <MudAvatar Color="Color.Secondary">A</MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">Admin</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudButton Variant="Variant.Filled" Color="Color.Secondary">UnFollow</MudButton>
                        </CardHeaderActions>
                    </MudCardHeader>
                    
                    <MudCardHeader >
                        <CardHeaderAvatar>
                            <MudAvatar Color="Color.Secondary">A</MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">Admin</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudButton Variant="Variant.Filled" Color="Color.Secondary">UnFollow</MudButton>
                        </CardHeaderActions>
                    </MudCardHeader>
                    
                    <MudCardHeader >
                        <CardHeaderAvatar>
                            <MudAvatar Color="Color.Secondary">A</MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">Admin</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudButton Variant="Variant.Filled" Color="Color.Secondary">UnFollow</MudButton>
                        </CardHeaderActions>
                    </MudCardHeader>
                    
                    <MudCardHeader >
                        <CardHeaderAvatar>
                            <MudAvatar Color="Color.Secondary">A</MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">Admin</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudButton Variant="Variant.Filled" Color="Color.Secondary">UnFollow</MudButton>
                        </CardHeaderActions>
                    </MudCardHeader>
                    
                    <MudCardHeader >
                        <CardHeaderAvatar>
                            <MudAvatar Color="Color.Secondary">A</MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">Admin</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudButton Variant="Variant.Filled" Color="Color.Secondary">UnFollow</MudButton>
                        </CardHeaderActions>
                    </MudCardHeader>
                    
                    <MudCardHeader >
                        <CardHeaderAvatar>
                            <MudAvatar Color="Color.Secondary">A</MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">Admin</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudButton Variant="Variant.Filled" Color="Color.Secondary">UnFollow</MudButton>
                        </CardHeaderActions>
                    </MudCardHeader>
                    
                    <MudCardHeader >
                        <CardHeaderAvatar>
                            <MudAvatar Color="Color.Secondary">A</MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">Admin</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudButton Variant="Variant.Filled" Color="Color.Secondary">UnFollow</MudButton>
                        </CardHeaderActions>
                    </MudCardHeader>

                </div>
            </MudTabPanel>

            <MudTabPanel Text="flowers">

                <MudCardHeader >
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Primary">B</MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">Bdmin</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudButton Variant="Variant.Filled" Color="Color.Secondary">Remove</MudButton>
                    </CardHeaderActions>
                </MudCardHeader>
                
                <MudCardHeader >
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Primary">B</MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">Bdmin</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudButton Variant="Variant.Filled" Color="Color.Secondary">Remove</MudButton>
                    </CardHeaderActions>
                </MudCardHeader>
   
            </MudTabPanel>

        </MudTabs>
        

      
    
        </MudItem>

</MudGrid>









@code {

}