@page "/"
@inject INewsService NewsService
@inject IFollowService FollowService
@inject AuthStateProvider AuthStateProvider
@attribute [Authorize(Roles = "User,Admin")]

<div @onwheel="OnWheel" style="margin-bottom: 40em;overflow: hidden">

    @if (NewsShowId != null)
    {
        <div class=" animate__animated animate__bounceInRight visibility border" style="margin-top: 5em">
            <NewsLoader @key="NewsShowId.Value" NewsId="NewsShowId.Value"></NewsLoader>

        </div>
    }

  
 
    @if (showLoading)
    {
        <MudGrid Class="d-flex flex-column align-center" >
            <MudCardHeader Class=" d-flex flex-column align-center">
                <CardHeaderContent>
                    <div class="visibility " style="height: 90px; width: 90px; padding: 1.2em">
                        <MudProgressCircular  Color="Color.Secondary" Size="Size.Large" Indeterminate="true" />
                    </div>
               
                </CardHeaderContent>
            </MudCardHeader>
        </MudGrid>
    }
</div>


@code
{
    [Inject]
    private IJSRuntime JSRuntime { get; set; }

    private bool showLoading = false;
    private List<NewsDaily>? NewsDailyList = new();
    private Guid? NewsShowId;

    protected override async Task OnInitializedAsync()
    {
        var userData = await AuthStateProvider.ExtractUserDataFromLocalToken();
       
        var followingListResponse = await FollowService.GetFollowingList(userData.Id);
        if (followingListResponse.AsT0.Value is { Count: >= 1 })
        {
            var followingListId = followingListResponse.AsT0.Value.Select(x => x.UserId).ToList();
            var newsIdListResponse = await NewsService.GetDailyNewsList(followingListId);

            Console.WriteLine("#######################");
            foreach (var newsDaily in newsIdListResponse.AsT0.Value)
            {
                Console.WriteLine(newsDaily.Id);
            }
            Console.WriteLine("#######################");
            if (newsIdListResponse.AsT0.Value is { Count: >= 1 })
            {
                Console.WriteLine("newsIdListResponse");
                NewsDailyList = newsIdListResponse.AsT0.Value;
            }
            
        }
      

        if (NewsDailyList?.Count>=1)
        {
            NewsShowId = NewsDailyList.First().Id;
        }

        StateHasChanged();
    }

    private async Task OnWheel(WheelEventArgs e)
    {
        //if scroll get end nextOrPrevious is true and if scroll get 0 nextOrPrevious is false else null
        var nextOrPrevious = await JSRuntime.InvokeAsync<bool?>("scrollIntercept.nextOrPrevious");


        if (nextOrPrevious != null)
        {
            if (nextOrPrevious == true)
            {
                showLoading = true;
            }
            else
            {
                showLoading = false;
            }
            //loading next news
            if (nextOrPrevious == true)
            {
                if (NewsDailyList.Last().Id != NewsShowId)
                {
                    int pastNewsIndex = NewsDailyList.IndexOf(NewsDailyList.First(x => x.Id == NewsShowId));

                    int nextNewsIndex = pastNewsIndex + 1;

                    NewsShowId = NewsDailyList[nextNewsIndex].Id;
                    await JSRuntime.InvokeVoidAsync("scrollToTop");
               
                
                }
                showLoading = false;
            }
            // loading previous news
            else
            {
                if (NewsDailyList.First().Id != NewsShowId)
                {
                    int pastNewsIndex = NewsDailyList.IndexOf(NewsDailyList.First(x => x.Id == NewsShowId));

                    int nextNewsIndex = pastNewsIndex - 1;

                    NewsShowId = NewsDailyList[nextNewsIndex].Id;
                    await JSRuntime.InvokeVoidAsync("scrollToTop");

                }
                showLoading = false;
            }
        }
     
    }



}




