@page "/News/{NewsId:guid}"
@attribute [Authorize(Roles = "User,Admin")]




<div class="animate__animated animate__bounceInRight visibility border" >
    <NewsLoader @key="NewsId" NewsId="NewsId"></NewsLoader>

</div>



@code
{
    [Parameter]
    public Guid NewsId { get; set; }
}



